<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @microspot.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @microspot.user_id %>
</p>

<%= link_to 'Edit', edit_microspot_path(@microspot) %> |
<%= link_to 'Back', microspots_path %>
